<mat-toolbar color="primary" class="toolbar">
  <span class="brand">Auto Servis</span>
  <span class="spacer"></span>
  <span class="role-badge">Administrator</span>
  <button mat-button (click)="logout()">
    <mat-icon>logout</mat-icon>
    Odjava
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      @for (item of navItems; track item.label) {
        @if (item.route !== undefined) {
          <a
            mat-list-item
            [routerLink]="[item.route]"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: item.route === 'dashboard' }"
          >
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        } @else {
          <a mat-list-item>
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
